{% extends "layout.html" %}
{% block content %}
	<h1>About the Team...</h1>

	<div class="content-section">
		<h2 style="margin:10px;padding: 10px">Team Leader:</h2>
			<div class="media" >
        		<img class="rounded-circle account-img" src="static/profile_pics/maciej.jpg">
        		<span class="media-body" >
          			<h2 class="account-heading" style="display:inline;">Maciej</h2>
        		</span>
      		</div>

		<h2 style="margin:10px;padding: 10px">Team Members:</h2>		
			<div class="media" >
	        	<img class="rounded-circle account-img" src="static/profile_pics/dexter.jpg">
	        	<span class="media-body" >
	          		<h2 class="account-heading" style="display:inline; padding-right: 20px">Dexter</h2>
	        	</span>

	        	<img class="rounded-circle account-img" src="static/profile_pics/marcin.jpg">
	        	<span class="media-body" >
	          		<h2 class="account-heading" style="display:inline; padding-right: 20px">Marcin</h2>
	        	</span>

	        	<img class="rounded-circle account-img" src="static/profile_pics/matus.jpg">
	        	<span class="media-body" >
	          		<h2 class="account-heading" style="display:inline; padding-right: 20px">Matus</h2>
	        	</span>
	      	</div>	
		</div>

{% endblock content %}