{% extends "layout.html" %}
{% block content %}
	<h1>About the Team...</h1>

	<div class="content-section">

		<h2 style="margin:10px;padding: 10px">Team Leader:</h2>
		<div class="media">
			<div class="row  align-items-center">
				<div class="col-md-2 ">
					<img class="rounded-circle align-self-center account-img" src="static/profile_pics/maciej.jpg">
				</div>
				<div class="col-md-3 ">
			    	<div class="media-body">
			      		<h3 class="account-heading">Maciej</h3>
			    	</div>
				</div>
			</div>
		</div>

		<h2 style="margin:10px;padding: 10px">Team Members:</h2>
		<div class="media">
			<div class="row  align-items-center">
				<div class="col-md-2 ">
					<img class="rounded-circle align-self-center account-img" src="static/profile_pics/dexter.jpg">
				</div>
				<div class="col-md-2 ">
			    	<div class="media-body">
			      		<h3 class="account-heading">Dexter</h3>
			    	</div>
				</div>

				<div class="col-md-2 ">
					<img class="rounded-circle align-self-center account-img" src="static/profile_pics/marcin.jpg">
				</div>
				<div class="col-md-2 ">
			    	<div class="media-body">
			      		<h3 class="account-heading">Marcin</h3>
			    	</div>
				</div>

				<div class="col-md-2 ">
					<img class="rounded-circle align-self-center account-img" src="static/profile_pics/matus.jpg">
				</div>
				<div class="col-md-2 ">
			    	<div class="media-body">
			      		<h3 class="account-heading">Matus</h3>
			    	</div>
				</div>

			</div>
		</div>

	</div>
{% endblock content %}