{% extends "layout.html" %}
{% block content %}
	

	<div class="card mb-3" style="max-width: 800px;">
		<div class="card-header header-color" style="background-color: #5f788a; color: #ffffff;">
					Relevance: {{ relevance }}
			</div>
	  <div class="row g-0">
	    <div class="col-md-4">
	      <img class="article-img" src="{{ song.image_url }}" >
	    </div>
	    <div class="col-md-8">
	      
	      <div class="card-body">
				<h4 class="card-title" style="color:indigo">{{ song['title'] }}</h4>
				<p class="card-text"><span class="badge bg-success">Artist</span> {{ song['author'][0] }}</p>
				<p class="card-text"><span class="badge bg-info text-dark">Album</span>  {{ song['album'] }}</p>
				
				<p class="card-text">
					<div class="row g-0">
						<div class="col-md-4">
							<span class="badge bg-warning text-dark">Genre</span>  {{ song['tags'][0] }}
						</div>   
						<div class="col-md-8">
							<span class="badge bg-secondary">Release Date</span> {{ song['credits'].get('Release Date', [[""]])[0][0] }}
						</div>
					</div>
				</p>
				<!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				
			</div>
	    </div>
	  </div>
	</div>

	<iframe src="{{ token }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

	<nav class="navbar navbar-light bg-light px-3">
			<a class="navbar-brand" ><h1 class="display-6">Lyrics</h1></a>
		</nav>
	<div class="content-section" style="max-width: 800px;">
		<p class="lead">
			{{ song.lyrics }}
		</p>
	</div>

	
{% endblock content %}